{% extends "base.html" %}
{% block content %}

<div class="container row mt-4 mx-auto">
	
	<div class="col">
		
		<div class="card border-bottom-0 border border-primary shadow-lg rounded" style="height: 25rem;">
			
			<div class="bg-primary bg-gradient mt-0 px-auto rounded" style="height: 15rem;" >
				<img src="..." class="card-img-top " alt="...">
				<div class=" mx-auto my-auto">
					
					<p class="card-text">Img teste!</p>
				</div>

			</div>  

				<div class="container card my-3">
					
					<div class="row">

				    	<div class="col-2" >

				      		<img src="..." class="img-fluidbg-primary bg-gradient  rounded-circle rounded-5" alt="...">

				    	</div>

					    <div class="col">
					     	<div class="card-body">
					        	<h5 class="card-title">Nome</h5>
					        	<p class="card-text">Texto biografia e informações!</p> 
					      	</div>
					    </div>

				  	</div>
				</div>
			      
		</div>
	</div>


	<div class="container mt-4 text-center">
		<div class="row ">
			<div class="col">
				<a href="#direciona-youtube"><i class="bi bi-youtube" style="font-size: 2rem; color: cornflowerblue;"></i></a>
			</div>
			<div class="col">
				<a href="#direciona-instagram"><i class="bi bi-instagram" style="font-size: 2rem; color: cornflowerblue;"></i></a>
			</div>
			<div class="col">
				<a href="#direciona-facebook"><i class="bi bi-facebook" style="font-size: 2rem; color: cornflowerblue;"></i></a>
			</div>
			<div class="col">
				<a href="#direciona-twitter"><i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i></a>
			</div>
			
		</div>
	</div>

</div>

{% endblock %}