{% extends "base.html" %}
{% block content %} 
  <div class='container row mx-auto mt-5'>
  	<div class="col">
		<form>
		  	<div class="mb-auto">
		    	<label for="exampleInputEmail1" class="form-label">Nome:</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
		  	</div>
		  	<div class="mb-auto">
		    	<label for="exampleInputEmail1" class="form-label">Biografia:</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
		  	</div>
		  	<div class="mb-auto">
		    	<label for="exampleInputEmail1" class="form-label">Mensagem:</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
		  	</div>  

		 	<button type="submit" class="btn btn-primary my-3">Salva Perfil</button>
		</form>
  	</div>

  </div>  
	
{% endblock %}