{% extends "base.html" %}
{% block content %}

  <div class='container row mx-auto mt-5'>
  	<div class="col">
		<form>
		  	<div class="mb-auto">
		    	<label for="exampleInputEmail1" class="form-label">Usuário</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
		  	</div>
			<div class="mb-3">
			    <label for="exampleInputPassword1" class="form-label">Senha</label>
			    <input type="password" class="form-control" id="exampleInputPassword1">
			</div> 
		 	<button type="submit" class="btn btn-primary">Entrar</button>
		</form>
  	</div>

  </div>  
  
{% endblock  %}